@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Index.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4" style="font-family:'Gill Sans'">Welcome to the Charger Market</h1>
    <div class="img">
   
        <img src="~/img/foldable.jpg" alt="img1">
        <img src="~/img/usb.jpg" alt="img2">
        <img src="~/img/wallcharger.jpg" alt="img3">
        <img src="~/img/wireless.jpg" alt="img4">
    </div>
</div>
