
.img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    .img img {
        width: 200px; 
        height: 200px; 
        margin: 10px; 
        border: 2px solid #333; 
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
        transition: transform 0.3s; 
    }
       
        .img img:hover {
            transform: scale(1.1); 
        }

